.dos_columnnas {
    display: flex;
        justify-content: center; /* Centra horizontalmente en el medio */
}
.columnna{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%; /* Ocupa toda la altura disponible */
}   
.titulo{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 80%; 
    width:20%
}
.divisor{
    width: 100%; 
    height: 1px;
    background: #CAC4D0;
}
.cuadro_texto{
    width: 240px;
    border: 2px solid #6750A4;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}
/*etiqueta de los cuadros de texto*/

.cuadro_principal_contenido{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Para que los elementos se envuelvan en filas si no caben en una sola línea */
    gap: 250px; /* Espacio entre los elementos secundarios */
    position: relative;
    bottom: 250px;
}
.cuadro_principal {
    width: 112%;
    background: #F3EDF7;
    padding: 60px 120px;
    margin-left: -120px;
}
.imagen_izquierda{
    width: 279px;
    height: 253px;
    flex-shrink: 0;
    margin-left: 30px;
    margin-top: 30px;
}
.boton_guardar{
    width: 200px;
    padding: 10px 15px;
    background-color: transparent; 
    color:#6750A4; 
    border:1px solid #6750A4; 
    border-radius: 20px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    margin-left: 640px;
    margin-top: -245px;
   
}
.barra{
    width: 753px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FEF7FF;
}
.barra_contenido_especial{
    width: 242.903px;
    height: 42px;
    flex-shrink: 0;
    border-bottom: 5px solid #6750A4;
}
.barra_horizontal{
    display: flex;
    justify-content: center; /* Alinear elementos al principio */
    align-items: center; /* Centrar verticalmente los elementos */
    width: 130%; /* Ancho completo del contenedor */
    margin-left: 70px;
    margin-top: -40px; /* Eliminar margen */
    padding: 0; /* Eliminar padding */
}
.barra_navegacion{
    display: flex;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #6750A4;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 133.333% */
}

.barra_contenido_normal{
    width: 242.903px;
    flex-shrink: 0;
    border-bottom: 5px solid #000;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Agrega espacio entre elementos */
    height: 100%; /* Ocupa toda la altura disponible */
    margin-top: -20px;
}

.inputContainer{
    position: relative;
    margin-top: 5px;
    width: 100%;
    margin-left: 600px;
    color:#6750A4;

}


.inputContainer label {
    font-size: 14px;
    left: 22px;
    padding: 0px 8px;
    pointer-events: none;
    position: absolute;
    top: 27px;
    transition: top 0.3s;
    color: #6750a4;
    background-color: #F3EDF7;
    
}

.inputContainer input:focus~label,
.inputContainer input:valid~label {
    top: -1px;
}

.input[type="text"] {
    border: 1.5px solid #6750a4;
    box-sizing: border-box;
    position: relative;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    height: 50px;
    width: 62%;
    transition: border-color 0.3s ease, transform 0.3s ease;
    background-color: transparent;
}

.input[type="text2"] {
    border: 1.5px solid #6750a4;
    box-sizing: border-box;
    position: relative;
    border-radius: 4px;
    margin: 10px ;
    padding: 10px;
    height: 50px;
    width: 36.5%;
    transition: border-color 0.3s ease, transform 0.3s ease;
    background-color: transparent;
}

.input[type="text3"] {
    border: 1.5px solid #6750a4;
    box-sizing: border-box;
    position: relative;
    border-radius: 4px;
    margin: 10px ;
    padding: 10px;
    height: 50px;
    width: 36.5%;
    transition: border-color 0.3s ease, transform 0.3s ease;
    background-color: transparent;
}

.input[type="text4"] {
    border: 1.5px solid #6750a4;
    box-sizing: border-box;
    position: relative;
    border-radius: 4px;
    margin: 10px ;
    padding: 10px;
    height: 50px;
    width: 36%;
    transition: border-color 0.3s ease, transform 0.3s ease;
    background-color: transparent;
}


